@import "tailwindcss";

.main-div {
    padding: 80px 0 0;
}

@keyframes moveStars {
  0% {
      transform: translateY(0) translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateY(100vh) translateX(calc(-50px + 100px * random())); 
      opacity: 0;
  }
}

.star-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #001e25, #003744, #004454);
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: moveStars linear infinite;
}
